.dropdownWrapper {
    position: relative;
}

.button {
    display: flex;
    align-items: center;
}

.dropdown {
    position: absolute;
    list-style: none;
    top: 100%;
    right: 0;

    &Up {
        top: auto;
        bottom: 100%;
    }

    width: 12rem;
    background-color: var(--color-zinc-800);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-zinc-700);
}

.dropdownItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.025rem;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.1);
    }

    > svg {
        height: 1.25rem;
        width: 1.25rem;
    }
}

.dropdownListItem {
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-zinc-700);
    }
}
