.header {
    background-color: var(--color-stone);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;

    height: 3.75rem;

    padding: 0 0 0 1rem;

    z-index: 10;
}

.headerText {
    font-size: 1.5rem;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.logo {
    height: calc(100% - 1rem);
    width: auto;
}
