.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 3.75rem);
}

.sidebar {
    flex-basis: 25%;
    flex-grow: 1;
}

.placeholder {
    flex-basis: 25%;
    flex-grow: 1;
}

.main {
    background-color: var(--color-zinc);
    padding: 1rem 1.5rem;
    box-shadow: var(--shadow-light);
    overflow: visible;
}

.heading {
    padding-bottom: 1.5rem;
}
