.avatar {
    background-color: var(--color-slate);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark);
}
